importFrom("utils", "combn")
importFrom("stats", "aggregate", "aov", "model.matrix", "pf", "qf")
export(CheckME_Diallel)
export(ME_CDC)
export(ME_PDC1)
export(ME_PDC2)
export(MEBanalysis)
export(MEdata)